.sideBySide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .color{
    display: flex;
    justify-content: flex-end ;
    
  }
  .ui.inverted.black.button, .ui.inverted.black.buttons .button{
    color: black;
}

.header-title{
  display: flex;
  justify-content: flex-start;
  align-items: center ;
}
.header-color{
  background:lightblue !important
}

.table-fixed{
  table-layout: fixed;
}

.icon-float{
  float: right;
}